[Desktop Entry]
Name=WMWave
Comment=Wireless network monitor
Comment[pl]=Monitor sieci bezprzewodowej
Exec=wmwave
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
